*{
    margin: 0;
}
html{
    background: #fdcb7e;
}
#canvas{
    width: 1200px;
    height: 800px;
    background: #fed8b1;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}