*{
    margin: 0;
}
html{
    /*background: #fdcb7e;*/
    background: black;
}
#canvas{
    width: 1200px;
    height: 600px;
    background: green;
    background: url("../img/table.png");
    background-size: 1200px;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#stats{
    height: 200px;
    background: blue;
}